* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}


#background {
    width: 300px;
    padding: 30px;
    padding-top: 25px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;

}
input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border-width: thin;
}
label {
    display: block;
}
p {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
    /* display: none; */
}
#login {
    margin-left: 60px;
    margin-right: 60px;
}
#login_success {
    text-align: center;
    margin-top: 10px;
    color: rgba(9,9,121,1);
    /* display: none; */
}
#login_fail {
    text-align: center;
    margin-top: 10px;
    color: red;
    /* display: none; */
}
button {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 54%, rgba(0,108,171,1) 100%, rgba(3,155,217,1) 100%, rgba(0,212,255,1) 100%);;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}